table {
    width: 100%;
}

.mat-column-id {
    width: 25%;
}

.mat-column-name {
    width: 20%;
}

.mat-column-surname {
    width: 20%;
}

.mat-column-birthDate {
    width: 20%;
}

.mat-column-details {
    width: 10%;
}