.button {
    margin-bottom: 50px;
}

.spinner {
    margin: auto;
    width: 10%;
}

.content {
    padding: 2%;
}

.patient-name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    margin-right: 50px;
}

.patient-gender{
    font-style: italic;
    color: gray;
}

.address {
    margin-top: 25px;
    font-size: 30px;
    font-style: italic;
}

.birth-date {
    margin-top: 40px;
    font-size: 30px;
}

.identifiers {
    margin-top: 40px;
    font-size: 25px;
}

.extension-panel {
    margin-top: 40px;
}

.extension-panel-title {
    font-weight: 100;
    font-family: monospace;
    font-size: 25px;
}

table {
    width: 100%;
}