<div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
    <div class="button">
        <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
    </div>
    
    <div class="content">
        <div>
            <span class="patient-name">
                {{ patientData.name[0]?.given[0] }} {{ patientData.name[0]?.family }}
            </span>
            <span class="patient-gender">
                {{ patientData.gender }}
            </span>
        </div>

        <mat-expansion-panel class="extension-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="extension-panel-title">
                Personal Data
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="address">
                {{ patientData.address[0].line[0] }}, {{ patientData.address[0].city }}, {{ patientData.address[0].state }}, {{ patientData.address[0].country }}
            </div>
            
            <div class="birth-date">
                Birth Date: {{ patientData.birthDate }}
            </div>
            
            <div class="identifiers">
                Identifiers: 
                <ul *ngFor="let element of patientData.identifier">
                    <li *ngIf="!!element.type">
                        {{ element.type.text }}: {{ element.value }}
                    </li>
                </ul>
            </div>  
        </mat-expansion-panel>

        <mat-expansion-panel class="extension-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="extension-panel-title">
                Observations
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-table [dataSource]="observationsDataSource" [displayColumns]="observationsDisplayedColumns"></app-table>  
        </mat-expansion-panel>

        <mat-expansion-panel class="extension-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="extension-panel-title">
                Conditions
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-table [dataSource]="conditionsDataSource" [displayColumns]="conditionsDisplayedColumns"></app-table>
        </mat-expansion-panel>

        <mat-expansion-panel class="extension-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="extension-panel-title">
                Encounters
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-table [dataSource]="encountersDataSource" [displayColumns]="encountersDisplayedColumns"></app-table>
        </mat-expansion-panel>
    </div>
</div>
